<div class="side-nav paper" id="side-nav">
  <div class="logo">
    <span>Your Logo</span>
  </div>
  <nav>
    <ul>
      <li><a class="active" href="#menu1" onclick="$commonFunc.closeSideMenu();">Menu1</a></li>
      <li><a href="#menu2" onclick="$commonFunc.closeSideMenu();">Menu2</a></li>
      <li><a href="#menu3" onclick="$commonFunc.closeSideMenu();">Menu3</a></li>
      <li><a href="#menu4" onclick="$commonFunc.closeSideMenu();">Menu4</a></li>
      <li class="driver"></li>
      <li><a href="#DriverBottom" onclick="$commonFunc.closeSideMenu();">DriverBottom</a></li>
    </ul>
  </nav>
</div>